@model VardiyaTakipDefteri.Models.Vardiya_Kullanici

@{
    Layout = null;
}

<!doctype html>
<html lang="tr">
<head>
    <title>VARDİYA DEFTERİ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   
    <link href="~/login-form-18/css/style.css" rel="stylesheet" />

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"><b>POLYTEKS - VARDİYA DEFTERİ</b></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-user-o"></span>
                        </div>
                        @*<h3 class="text-center mb-4">Lütfen Giriş Yapınız</h3>*@
                        @using (Html.BeginForm("Giris", "Vardiya", FormMethod.Post, new { @class = "login-form" }))
                        {


                            <center><h3 style="color:red;">@ViewBag.mesaj</h3></center>




                            <div class="form-group">
                                @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control upper", placeholder = "KULLANICI ADI" })
                            </div>
                            <div class="form-group d-flex">
                                @Html.EditorFor(m => m.Sifre, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "ŞİFRE", } })
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">

                                    <button type="submit" class="btn btn-primary rounded submit p-3 px-5">GİRİŞ YAP</button>


                                </div>

                            </div>
                            <br />
                            <br />
                            <br />
                            <div class="form-row">
                                <div class="col-md-12">
                                    <a href="/Vardiya/Yetkisiz" class="btn btn-outline-primary rounded submit p-3 px-12"> <i class="glyphicon glyphicon-plus">YETKİSİZ GİRİŞ YAP</i></a>


                                </div>
                                </div>
                                }
                            </div>
                            </div>
                        </div>
        </div>
    </section>

    <script src="~/login-form-18/js/jquery.min.js"></script>
 
    <script src="~/login-form-18/js/popper.js"></script>

    <script src="~/login-form-18/js/bootstrap.min.js"></script>
 
    <script src="~/login-form-18/js/main.js"></script>

</body>
</html>


